@using PokedexFinalProject.Models;
@model StatsViewModel
@using System.Web.UI.WebControls;
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm())
{
    <fieldset>
        <dl>
            <dt>
                @Html.LabelFor(x => x.Selectedid)
            </dt>
            <dd>
                @Html.DropDownListFor(x => x.Selectedid, Model.Options)
            </dd>
        </dl>
    </fieldset>

    <input type="submit" value="Search" />
}

<div id="Partial-view">
    @{
        switch (Model.partialName)
        {
            case "ActiveUsersWeek":
                Html.RenderPartial("~/Views/Shared/ActiveUsersWeek.cshtml", Model.ActiveUsersWeek );
                break;
            case "ActiveUsersMonth":
                Html.RenderPartial("~/Views/Shared/ActiveUsersMonth.cshtml", Model.ActiveUsersMonth);
                break;
            default:
                break;
        }
    }
</div>

