@using PokedexFinalProject
@model List<Move>
@{
    //Model.TipoID2 = 2;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDetails</title>
</head>
<body>
    <center><h2>Choose a move!</h2></center>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-3">
            <img src="http://cdn.bulbagarden.net/upload/thumb/b/b1/151Mew.png/250px-151Mew.png" />
        </div>
        <div class="col-sm-9">
                @foreach (Move m in Model)
                {
                    <div class="col-sm-3">
                        <h3> @Html.ActionLink(m.Nombre, "GetMoveDetail", "Overview", new { id = m.MoveID }, null) </h3>
                    </div>
                }
            </div>
        </div>
    <div class="col-sm-2"></div>
</body>
</html>
