@model Move
@{
    //Model.TipoID2 = 2;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDetails</title>
</head>
<body>
    <br />
    <br />
    <br />
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-3">
                <img src="http://cdn.bulbagarden.net/upload/thumb/2/21/001Bulbasaur.png/250px-001Bulbasaur.png" />

            </div>

            <div class="col-sm-3"></div>
            <div class="col-sm-3">

                    <h3> @Model.Nombre </h3>
                <h3> @Model.Power </h3>
 
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</body>
</html>