@model PokedexFinalProject.Pokemon
@{ 
    List<Pokemon> listPokemon = new List<Pokemon>();
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetPokemon</title>
</head>
<body>
    
    <div>
        <div class="col-sm-1">

            <li>@Html.ActionLink("Bulbasaur", "GetDetails", "Overview")</li>
            
        </div>
        <div class="col-sm-1">
            <li>@Html.ActionLink("Charmander", "GetDetails", "Overview", new {id = "2" },null)</li>
        </div>
         
        @{ 
            foreach(Pokemon pok in listPokemon)
            {
                <div class="col-sm-1">

                    <li>@Html.ActionLink(pok.Nombre, "GetDetails", "Overview")</li>
                </div>
            }
        }
    </div>
</body>
</html>
