@model IEnumerable<MYSQLProj.SP_ListaColumnas_Result>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TABLE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLUMN_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TABLE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COLUMN_NAME)
        </td>
 
    </tr>
}

</table>
