@model PokedexFinalProject.Models.SPbyHourViewModel

@using (Html.BeginForm("SPByHour","Stats", FormMethod.Post))
{
    <p>Primera Hora:</p>
                    <p> @Html.TextBoxFor(x => x.Hour1)</p>
                    <p>Segunda Hora:</p>
                    <p> @Html.TextBoxFor(x => x.Hour2)</p>
                    <input type="submit" value="Login" />
}